body {
  height: 100vh;

  display: flex;
  align-items: stretch;
}

form {
  padding: 0 136px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  > h1 {
      font-size: 48px;
      color: var(--ORANGE);
  }

  > h2 {
      font-size: 24px;
      margin: 48px 0;
  }

  > p {
      font-size: 14px;
      color: var(--GRAY_100)
  }
  
  > a {
      margin-top: 124px;
      color: var(--ORANGE)

  }
}

.Background {
  flex: 1;
  background: url("https://img.freepik.com/fotos-premium/caneta-de-computador-no-laptop-perto-de-xicara-de-cafe-e-smartphone-colocar-no-notebook_43737-276.jpg?w=2000") no-repeat center center;
  background-size: cover;
}