<div class="container">
  <div class="brand">
    <a routerLink="/" routerLinkActive="router-link-active" >
      <h1>Someone's Notes</h1>
    </a>
  </div>

  <app-header />

  <ul class="menu">
    <li *ngFor="let note of notes"><app-button-text [title]="note.title" routerLink="/home/details" routerLinkActive="active"/></li>
  </ul>

  <div class="content">
    <router-outlet />
  </div>
  

  <a class="newNote" routerLink="/new" routerLinkActive="active" >
    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="add"/>
    Criar nota
  </a>
</div>