.container {
  width: 100%;
  height: 100vh;
  background: no-repeat center url("../../../../assets/static/images/not-found.jpg");
  background-size: contain;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: black;
  padding-top: 10px;
}